@import './colors.css';
@import './typography.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  max-width: calc(100vw - (100vw - 100%));
  min-height: 100vh;

  background-color: var(--primary);
  font: 400 1rem 'Open Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  min-height: inherit;

  margin: 0 auto;
  padding: 0 1.5rem;

  display: grid;
}

.text-center {
  text-align: center;
}

.navbar .navbar-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  row-gap: 1.25rem;

  margin-top: 4rem;
}

.navbar .navbar-list {
  display: flex;
  gap: 4rem;
}

.main #home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;

  column-gap: 1.25rem;
  row-gap: 2.5rem;

  margin-top: 6rem;
}

.main #home .protected-data {
  width: 25rem;
}

.main #home .text-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.footer {
  margin-top: 4rem;
  position: relative;
}

.footer .text-content {
  padding: 1.5rem 0;
}

.line-detail {
  width: 35.5rem;
  max-width: calc(100vw - 2.5rem);
  height: 0.0625rem;
  background-color: var(--secondary);
  margin: 0 auto;
}

.footer .padlock-decoration {
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
  width: 3rem;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .navbar .navbar-content {
    justify-content: center;
  }

  .main #home .protected-data {
    margin: 0 auto;
  }

  .footer .padlock-decoration {
    position: relative;
    margin: 2.5rem auto;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }
}